* {
  box-sizing: border-box;
}

#mainTable {
  width: 80vw;
  height: 80vh;
  position: relative;
  margin: 10vh auto;
}

.card {
  position: relative;
  width: 20vw;
  height: 20vw;
  float: left;
  border: 1vw solid #fff;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cardBack {
  background-image: url(pattern-back.jpg);
  border: 10px solid #aaa;
}

.cardFront {
  display: none;
  background-color: #333;
}

.clicked .cardBack {
  display: none;
}

.clicked .cardFront {
  display: block;
}

.banana .cardFront {
  background-image: url(banana-front.jpg);
  background-size: cover;
}

.orange .cardFront {
  background-image: url(orange-front.jpg);
  background-size: cover;
}

.strawberry .cardFront {
  background-image: url(strawberry-front.jpg);
  background-size: cover;
}

.blueberry .cardFront {
  background-image: url(blueberry-front.jpg);
  background-size: cover;
}

.card.matched div {
  display: none;
}